[submodule "Libraries/AFNetworking"]
	path = Libraries/AFNetworking
url=https://mumabinggan:zheng1988@github.com/mumabinggan/JHKit_Static_AFNetworking.git
[submodule "Libraries/IQKeyboardManager"]
	path = Libraries/IQKeyboardManager
url=https://mumabinggan:zheng1988@github.com/mumabinggan/JHKit_Static_IQKeyboardManager.git
[submodule "Libraries/SDWebImage"]
	path = Libraries/SDWebImage
url=https://mumabinggan:zheng1988@github.com/mumabinggan/JHKit_Static_SDWebImage.git
[submodule "Libraries/FMDB"]
	path = Libraries/FMDB
url=https://mumabinggan:zheng1988@github.com/mumabinggan/JHKit_Static_FMDB.git
[submodule "Libraries/MBProgressHUD"]
	path = Libraries/MBProgressHUD
url=https://mumabinggan:zheng1988@github.com/mumabinggan/JHKit_Static_MBProgressHUD.git
[submodule "Libraries/JSONModel"]
	path = Libraries/JSONModel
url=https://mumabinggan:zheng1988@github.com/mumabinggan/JHKit_Static_JSONModel.git
[submodule "Libraries/Reachability"]
	path = Libraries/Reachability
url=https://mumabinggan:zheng1988@github.com/mumabinggan/JHKit_Static_Reachability.git
